/*Jquery Mobile Override*/

.ui-input-btn {
    width: 15%;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.ui-btn {
    border: 0px;
}

/* CSS Template */
/*.AddButton {
    width: 15%;
    border: 1px solid black;
    padding: 0px;
    background-color: grey;
    float: left;
}*/

/*.SubButton {
    width: 15%;
    border: 1px solid black;
    padding: 0px;
    background-color: grey;
    float: left;
}*/

/*Remove number box spinners*/
/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"] {
    -moz-appearance: textfield;
}*/

.ChartWidgetContainer {
    width: 90%;
    /*max-width: 500px;*/
    float: left;
}

.TotalWidgetContainer {
    float: left;
}

.ButtonLabel {
    width: 33.3%;
    float: left;
    text-align: center;
}

.MacroTotalTextInput {
    border: dashed grey 1px;
    text-align: center;
}

    .MacroTotalTextInput:hover, .MacroTotalTextInput:focus {
        font-style: italic;
        color: grey;
        border: dashed grey 1px;
    }

.TaskText:hover, .TaskText:focus {
    font-style: italic;
    color: grey;
    border: dashed grey 1px;
}

.NewTaskText:hover, .NewTaskText:focus {
    min-width: 50px;
    font-style: italic;
    color: grey;
    border: dashed grey 1px;
}

.StrikeText {
    text-decoration: line-through;
}

.InlineBlock {
    display: inline-block;
}

.Clear {
    clear: both;
}
